{{>header}}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">หน้าหลัก</a>
                </li>
                <li class="active">ติดตามสถานะงาน</li>
            </ul><!-- /.breadcrumb -->
        </div>

        <div class="page-content">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="widget-box transparent">
                                <div class="widget-header widget-header-flat">
                                    <h4 class="widget-title lighter">
                                        <i class="ace-icon fa fa-signal"></i>
                                        ใบอนุญาติประกอบกิจการ
                                    </h4>

                                    <div class="widget-toolbar">
                                        <a href="#" data-action="collapse">
                                            <i class="ace-icon fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main padding-4">
                                        <div id="storeChart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="widget-box transparent">
                                <div class="widget-header widget-header-flat">
                                    <h4 class="widget-title lighter">
                                        <i class="ace-icon fa fa-signal"></i>
                                        การอนุญาตเผยแพร่
                                    </h4>

                                    <div class="widget-toolbar">
                                        <a href="#" data-action="collapse">
                                            <i class="ace-icon fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main padding-4">
                                        <div id="permitChart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title lighter">
                                    ตารางแสดงรายละเอียด
                                </h4>
                            </div>

                            <div class="widget-body">
                                <div id="detail" class="widget-main">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}

<style>
    .table tbody tr.no-border td{
        border: none;
    }
</style>
<script src="{{_context_path}}/asset/vendor/highcharts/js/highcharts.js"></script>

<script>
    $(function() {
        showData();
    });

    function showData(){
        var data1 = groupStore();
        var data2 = groupPermit();

        detail(data1, data2);
    }

    function groupStore(){
        var dataSet = [];

        var datas = callAjax("{{_context_path}}/api/tracking/all/groupStore", "post", {}, "json");
        if(typeof datas !== "undefined" && datas != null){
            var xData = [];

            var app = [];
            var dis = [];

            $.each(datas["lists"], function(key, value){
                xData.push(value["groupName"]);

                app.push(value["approve"]);
                dis.push(value["disapprove"]);

                dataSet.push(value);
            });

            var yData = [
                {name: "อนุมัติ", data: app, stack: 1},
                {name: "ไม่อนุมัติ", data: dis, stack: 1}
            ];

            plotChart("storeChart", xData, yData);
        }

        return dataSet;
    }

    function groupPermit(){
        var dataSet = [];

        var datas = callAjax("{{_context_path}}/api/tracking/all/groupPermit", "post", {}, "json");
        if(typeof datas !== "undefined" && datas != null) {
            var xData = [];

            var app = [];
            var dis = [];

            $.each(datas["lists"], function (key, value) {
                xData.push(value["groupName"]);

                app.push(value["approve"]);
                dis.push(value["disapprove"]);

                dataSet.push(value);
            });

            var yData = [
                {name: "อนุมัติ", data: app, stack: 1},
                {name: "ไม่อนุมัติ", data: dis, stack: 1}
            ];

            plotChart("permitChart", xData, yData);
        }

        return dataSet;
    }

    function plotChart(div, xData, yData){
        $('#'+div).css({'width':'100%' , 'height':'300px'}).highcharts({
            chart: {
                type: 'column',
                marginBottom: 80
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: xData
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'จำนวน'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'center',
                x: 0,
                verticalAlign: 'bottom',
                y: 0,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y}<br/>ทั้งหมด: {point.stackTotal}'
            },
            colors: ['#69aa46', '#dd5a43'],
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black'
                        }
                    }
                },
                series: {
                    pointWidth: 50
                }
            },
            credits: {
                enabled: false
            },
            series: yData
        });
    }

    function detail(dataStore, dataPermit){
        var arr = [
            {
                name: "ใบอนุญาตประกอบกิจการ",
                data: dataStore
            },
            {
                name: "การอนุญาตเผยแพร่",
                data: dataPermit
            }
        ];

        var html = '';
        $.each(arr, function(gKey, gValue){
            html += '<p class="bolder">'
                    + '<i class="ace-icon fa fa-caret-right blue"></i> '+gValue["name"]
                + '</p>'

                + '<table class="table table-bordered">'
                    + '<thead>'
                        + '<tr>'
                            + '<th rowspan="2" class="center" style="width: 50%;">รายการ</th>'
                            + '<th colspan="2" class="center" style="width: 30%;">จำนวน (รายการ)</th>'
                            + '<th rowspan="2" class="center" style="width: 20%;">รวม</th>'
                        + '</tr>'
                        + '<tr>'
                            + '<th class="center" style="width: 15%;">อนุมัติ</th>'
                            + '<th class="center" style="width: 15%;">ไม่อนุมัติ</th>'
                        + '</tr>'
                    + '</thead>'
                    + '<tbody>';
                        var countApp = 0;
                        var countDis = 0;
                        $.each(gValue["data"], function(key, value){
                            html += '<tr>'
                                    + '<td class="bolder">'+value["groupName"]+'</td>'
                                    + '<td class="green text-right">'+value["approve"]+'</td>'
                                    + '<td class="red text-right">'+value["disapprove"]+'</td>'
                                    + '<td class="bolder text-right">'+(value["approve"] + value["disapprove"])+'</td>'
                                + '</tr>';

                            countApp += value["approve"];
                            countDis += value["disapprove"];
                        });
                    html += '</tbody>'
                    + '<tfoot>'
                        + '<tr>'
                            + '<th class="center">รวมทั้งหมด</th>'
                            + '<th class="green text-right">'+countApp+'</th>'
                            + '<th class="red text-right">'+countDis+'</th>'
                            + '<th class="text-right">'+(countApp + countDis)+'</th>'
                        + '</tr>'
                    + '</tfoot>'
                + '</table>';
        });

        $("#detail").html(html);
    }
</script>