{{>header}}

<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">

            <div class="page-header">
                <h1>
                    คำขอใบอนุญาต

                </h1>

            </div>
            <!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="col-xs-2 text-right">ค้นหาตามประเภท</div>
                            <div class="col-xs-6">
                                <select class="form-control" id="certTypeName">

                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="pull-right tableTools-container"></div>
                    </div>
                    <div>
                        <table id="table" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-1">ลำดับ</th>
                                <th class="col-md-4 text-center">ชื่อรายการ</th>
                                <th class="col-md-1 text-center">ชื่อ-นามสกุล</th>
                                <th class="col-md-1 text-center">ประเภท</th>
                                <th class="col-md-1 text-center">วันที่ขอ</th>
                                <th class="col-md-1 text-center">วันที่อนุมัติ</th>
                                <th class="col-md-1 text-center">เครื่องมือ</th>
                                <th class="col-md-1 text-center">contype</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                    <!-- PAGE CONTENT ENDS -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
</div><!-- /.main-content -->

<!-- dialog-confirm -->
<div id="dialog-confirm" class="hide">
    <!--
    <div class="alert alert-info bigger-110">
        ต้องการลบข้อมูลใช่หรือไม่
    </div>
    -->
    <div class="space-6"></div>

    <p class="bigger-110 bolder center grey">
        <i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
        ยืนยันการยกเลิกใบอนุญาประกอบกิจการ
    </p>
</div><!-- #dialog-confirm -->

<!-- dialog-confirm -->
<div id="dialog-confirm1" class="hide">
    <!--
    <div class="alert alert-info bigger-110">
        ต้องการลบข้อมูลใช่หรือไม่
    </div>
    -->
    <div class="space-6"></div>

    <p class="bigger-110 bolder center grey">
        <i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
        ยืนยันการลบข้อมูล
    </p>
</div><!-- #dialog-confirm -->
{{>footer}}


<!-- inline scripts related to this page -->
<script type="text/javascript">
    //    jQuery(function($) {
    //
    //
    //        var dataSet = [
    //            {certId: "1", name: "เกมสนุก", type: "ร้านวีดิทัศน์(การเล่นเกม)", user: "นายยุทธชัย  สมมุติ", date: "12 JANUARY 2016"},
    //            {certId: "2", name: "เกมสนุก1", type: "ร้านวีดิทัศน์(การเล่นเกม)", user: "นายยุทธชัย  สมมุติ", date: "23 JANUARY 2016"},
    //        ]
    //        var dataSet1 = [
    //            {certId: "1", name: "บูมเมอแรงมูฟวี่", type: "ให้เช่า แลกเปลี่ยน หรือจำหน่ายภาพยนต์", user: "นายยุทธชัย  สมมุติ", date: "12 JANUARY 2016"},
    //            {certId: "2", name: "เกิดมาลุย5", type: "ให้เช่า แลกเปลี่ยน หรือจำหน่ายภาพยนต์", user: "นายยุทธชัย  สมมุติ", date: "23 JANUARY 2016"},
    //            {certId: "3", name: "คนไฟบิน", type: "ให้เช่า แลกเปลี่ยน หรือจำหน่ายภาพยนต์", user: "นายยุทธชัย  สมมุติ", date: "25 JANUARY 2016"}
    //        ]
    //        var dataSet2 = [
    //            {certId: "1", name: "บ้านตัวโน๊ต", type: "ร้านวีดิทัศน์(คาราโอเกะ)", user: "นายยุทธชัย  สมมุติ", date: "12 JANUARY 2016"},
    //            {certId: "2", name: "สุขหรรษา", type: "ร้านวีดิทัศน์(คาราโอเกะ)", user: "นายยุทธชัย  สมมุติ", date: "23 JANUARY 2016"},
    //            {certId: "3", name: "ร้องรำบุฟเฟ่", type: "ร้านวีดิทัศน์(คาราโอเกะ)", user: "นายยุทธชัย  สมมุติ", date: "25 JANUARY 2016"}
    //        ]
    //
    //        $(".btn-add").unbind("click").click(function() {
    //
    //            window.location.assign("{{_context_path}}/api/certificate/certsellvideo/add");
    //        });
    //        var t1 = $("#collapseOne #table").DataTable({
    //            "destroy": true,
    //            "data": dataSet,
    //            "order": [0, 'asc'],
    //            "iDisplayLength": 50,
    //            "columnDefs": [
    //                {
    //                    "targets": 0,
    //                    "searchable": false,
    //                    "orderable": false,
    //                    "data": "certId",
    //                    "sClass": "text-center col-md-1"
    //                },
    //                {
    //                    "targets": 1,
    //                    "data": "name",
    //                    "sClass": "text-left col-md-4",
    //                    "render": function(data, key, full) {
    //                        return data;
    //                    }
    //                },
    //                {
    //                    "targets": 2,
    //                    "data": "user",
    //                    "sClass": "text-left col-md-2"
    //                }, {
    //                    "targets": 3,
    //                    "data": "type",
    //                    "sClass": "text-left col-md-2"
    //                }, {
    //                    "targets": 4,
    //                    "data": "date",
    //                    "sClass": "text-left col-md-2",
    //                    "render": function(data, key, full) {
    //                        return data;
    //                    }
    //                }, {
    //                    "targets": 5,
    //                    "data": "memberId",
    //                    "sClass": "text-left col-md-1",
    //                    "render": function(data, key, full) {
    //                        $html = '<a class="btn btn-sm btn-primary btn-white" href="{{_context_path}}/api/consider/considerchangetools/view/manage" role="button">จัดการ</a>';
    //
    //                        return $html;
    //                    }
    //                }
    //            ]
    //        });
    //        t1.on('order.dt search.dt', function() {
    //            t1.column(0, {search: 'applied', order: 'applied'}).nodes().each(function(cell, i) {
    //                cell.innerHTML = i + 1;
    //            });
    //        }).draw();
    //
    //
    //
    //        var t2 = $("#collapseTwo #table").DataTable({
    //            "destroy": true,
    //            "data": dataSet1,
    //            "order": [0, 'asc'],
    //            "iDisplayLength": 50,
    //            "columnDefs": [
    //                {
    //                    "targets": 0,
    //                    "searchable": false,
    //                    "orderable": false,
    //                    "data": "certId",
    //                    "sClass": "text-center col-md-1"
    //                },
    //                {
    //                    "targets": 1,
    //                    "data": "name",
    //                    "sClass": "text-left col-md-4",
    //                    "render": function(data, key, full) {
    //                        return data;
    //                    }
    //                },
    //                {
    //                    "targets": 2,
    //                    "data": "user",
    //                    "sClass": "text-left col-md-2"
    //                }, {
    //                    "targets": 3,
    //                    "data": "type",
    //                    "sClass": "text-left col-md-2"
    //                }, {
    //                    "targets": 4,
    //                    "data": "date",
    //                    "sClass": "text-left col-md-2",
    //                    "render": function(data, key, full) {
    //                        return data;
    //                    }
    //                }, {
    //                    "targets": 5,
    //                    "data": "memberId",
    //                    "sClass": "text-left col-md-1",
    //                    "render": function(data, key, full) {
    //                        $html = '<div class="btn-group"><button  class="btn btn-sm btn-primary btn-white">จัดการ</i></button>';
    //
    //                        return $html;
    //                    }
    //                }
    //            ]
    //        });
    //        t2.on('order.dt search.dt', function() {
    //            t2.column(0, {search: 'applied', order: 'applied'}).nodes().each(function(cell, i) {
    //                cell.innerHTML = i + 1;
    //            });
    //        }).draw();
    //
    //
    //
    //        var t3 = $("#collapsethree #table").DataTable({
    //            "destroy": true,
    //            "data": dataSet2,
    //            "order": [0, 'asc'],
    //            "iDisplayLength": 50,
    //            "columnDefs": [
    //                {
    //                    "targets": 0,
    //                    "searchable": false,
    //                    "orderable": false,
    //                    "data": "certId",
    //                    "sClass": "text-center col-md-1"
    //                },
    //                {
    //                    "targets": 1,
    //                    "data": "name",
    //                    "sClass": "text-left col-md-4",
    //                    "render": function(data, key, full) {
    //                        return data;
    //                    }
    //                },
    //                {
    //                    "targets": 2,
    //                    "data": "user",
    //                    "sClass": "text-left col-md-2"
    //                }, {
    //                    "targets": 3,
    //                    "data": "type",
    //                    "sClass": "text-left col-md-2"
    //                }, {
    //                    "targets": 4,
    //                    "data": "date",
    //                    "sClass": "text-left col-md-2",
    //                    "render": function(data, key, full) {
    //                        return data;
    //                    }
    //                }, {
    //                    "targets": 5,
    //                    "data": "memberId",
    //                    "sClass": "text-left col-md-1",
    //                    "render": function(data, key, full) {
    //                        $html = '<div class="btn-group"><button  class="btn btn-sm btn-primary btn-white">จัดการ</i></button>';
    //
    //                        return $html;
    //                    }
    //                }
    //            ]
    //        });
    //        t3.on('order.dt search.dt', function() {
    //            t3.column(0, {search: 'applied', order: 'applied'}).nodes().each(function(cell, i) {
    //                cell.innerHTML = i + 1;
    //            });
    //        }).draw();
    //
    //
    //
    //        var t4 = $("#collapsefor #table").DataTable({
    //            "destroy": true,
    //            "data": dataSet2,
    //            "order": [0, 'asc'],
    //            "iDisplayLength": 50,
    //            "columnDefs": [
    //                {
    //                    "targets": 0,
    //                    "searchable": false,
    //                    "orderable": false,
    //                    "data": "certId",
    //                    "sClass": "text-center col-md-1"
    //                },
    //                {
    //                    "targets": 1,
    //                    "data": "name",
    //                    "sClass": "text-left col-md-4",
    //                    "render": function(data, key, full) {
    //                        return data;
    //                    }
    //                },
    //                {
    //                    "targets": 2,
    //                    "data": "user",
    //                    "sClass": "text-left col-md-2"
    //                }, {
    //                    "targets": 3,
    //                    "data": "type",
    //                    "sClass": "text-left col-md-2"
    //                }, {
    //                    "targets": 4,
    //                    "data": "date",
    //                    "sClass": "text-left col-md-2",
    //                    "render": function(data, key, full) {
    //                        return data;
    //                    }
    //                }, {
    //                    "targets": 5,
    //                    "data": "memberId",
    //                    "sClass": "text-left col-md-1",
    //                    "render": function(data, key, full) {
    //                        $html = '<div class="btn-group"><button  class="btn btn-sm btn-primary btn-white">จัดการ</i></button>';
    //
    //                        return $html;
    //                    }
    //                }
    //            ]
    //        });
    //        t4.on('order.dt search.dt', function() {
    //            t4.column(0, {search: 'applied', order: 'applied'}).nodes().each(function(cell, i) {
    //                cell.innerHTML = i + 1;
    //            });
    //        }).draw();
    //
    //
    //
    //        //$("#table thead").remove();
    //        //override dialog's title function to allow for HTML titles
    //        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
    //            _title: function(title) {
    //                var $title = this.options.title || '&nbsp;'
    //                if (("title_html" in this.options) && this.options.title_html == true)
    //                    title.html($title);
    //                else
    //                    title.text($title);
    //            }
    //        }));
    //        //dialog confirm
    //        $(".dialogDelete").on('click', function(e) {
    //            e.preventDefault();
    //            var tr = $(this).closest("tr");
    //            $("#dialog-confirm").removeClass('hide').dialog({
    //                resizable: false,
    //                width: '320',
    //                modal: true,
    //                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i> ยกเลิกใบอนุญาประกอบกิจการ</h4></div>",
    //                title_html: true,
    //                buttons: [
    //                    {
    //                        html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; ยืนยัน",
    //                        "class": "btn btn-danger btn-minier",
    //                        click: function() {
    //
    //                            //var Rows=$(this).closest("tr").index();
    //                            tr.remove();
    //                            $(this).dialog("close");
    //                            //alert(tr);
    //                        }
    //                    }
    //                    ,
    //                    {
    //                        html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; ยกเลิก",
    //                        "class": "btn btn-minier",
    //                        click: function() {
    //                            $(this).dialog("close");
    //                        }
    //                    }
    //                ]
    //            });
    //        });
    //
    //
    //        $(".dialogDelete1").on('click', function(e) {
    //            e.preventDefault();
    //            var tr = $(this).closest("tr");
    //            $("#dialog-confirm1").removeClass('hide').dialog({
    //                resizable: false,
    //                width: '320',
    //                modal: true,
    //                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i> ยืนยันการลบข้อมูล</h4></div>",
    //                title_html: true,
    //                buttons: [
    //                    {
    //                        html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; ยืนยัน",
    //                        "class": "btn btn-danger btn-minier",
    //                        click: function() {
    //
    //                            //var Rows=$(this).closest("tr").index();
    //                            tr.remove();
    //                            $(this).dialog("close");
    //                            //alert(tr);
    //                        }
    //                    }
    //                    ,
    //                    {
    //                        html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; ยกเลิก",
    //                        "class": "btn btn-minier",
    //                        click: function() {
    //                            $(this).dialog("close");
    //                        }
    //                    }
    //                ]
    //            });
    //        });
    //        $('[data-rel=tooltip]').tooltip();
    //        $(".btn-update").unbind("click").click(function() {
    //
    //            window.location.assign("{{_context_path}}/api/certificate/certsellvideo/edit");
    //        });
    //        $(".btn-role").unbind("click").click(function() {
    //            window.location.assign("{{_context_path}}/api/member/role/view/manage");
    //        });
    //    })
    jQuery(function ($) {
        var certTypeName = [];
        certTypeName.push("พิจารณาการแจ้งเพิ่มขนาดพื้นที่ใช้สอยของสถานประกอบกิจการ");
        certTypeName.push("พิจารณาการแจ้งเพิ่มจำนวนเครื่องมือ อุปกรณ์ หรือส่งอำนวยความสะดวก");
        certTypeName.push("พิจารณาคำขอต่อใบอนุญาตประกอบกิจการ");
        certTypeName.push("พิจารณาคำขอยกเลิกใบอนุญาต");
        certTypeName.push("พิจารณาคำขออนุญาตประกอบกิจการ");
        certTypeName.push("พิจารณาคำขอใบแทนใบอนุญาต");

        var dataSet = [
            {certId: "1", name: "บูมเมอแรงมูฟวี่",conType:0, type: "ร้านวีดิทัศน์(คาราโอเกะ)", user: "นายสมศักดิ์ โอกาศ", date: "12 JANUARY 2016", dateEnd: "25 JANUARY 2016"},
            {certId: "2", name: "ร้านเกมสนุก",conType:1, type: "ร้านวีดิทัศน์(เกมการเล่น)", user: "นายสมชาย สมมุติ", date: "23 JANUARY 2016", dateEnd: "29 JANUARY 2016"},
            {certId: "3", name: "บ้านตัวโน๊ต",conType:2, type: "ร้านวีดิทัศน์(คาราโอเกะ)", user: "นางสมจิตร สิงหเขตต์", date: "12 JANUARY 2016", dateEnd: "25 JANUARY 2016"},
            {certId: "4", name: "ร้านบูมเมอแรงมูฟวี่",conType:3, type: "ให้เช่า แลกเปลี่ยน หรือจำหน่ายภาพยนต์", user: "นายสมศักดิ์ โอกาส", date: "23 JANUARY 2016", dateEnd: "29 JANUARY 2016"},
            {certId: "5", name: "ร้านเกมสนุก",conType:4, type: "ร้านวีดิทัศน์(เกมการเล่น)", user: "นายสมชาย สมมุติ", date: "25 JANUARY 2016", dateEnd: "30 JANUARY 2016"}
        ];
//        var datas = [];
//        $.each(data, function (key, value) {
//            datas.push(value);
//        });

//        $.each(datas, function(key, value) {
//            certTypeName.push(value["certTypeName"]);
////          certTypeName.push(value);
//            //console.log(value["certTypeName"]);
//        });

        $(".btn-add").unbind("click").click(function () {
            window.location.assign("{{_context_path}}/api/certificate/certgames/add");
        });

        var t = $("#table").DataTable({
            "destroy": true,
            "data": dataSet,
            "order": [0, 'asc'],
            "iDisplayLength": 50,
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "certId",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 1,
                    "data": "name",
                    "sClass": "text-left col-md-2"
                },
                {
                    "targets": 2,
                    "data": "user",
                    "sClass": "text-left col-md-2"
                },
                {
                    "targets": 3,
                    "data": "type",
                    "sClass": "text-left col-md-2"
                },
                {
                    "targets": 4,
                    "data": "date",
                    "sClass": "text-left col-md-2"
                },
                {
                    "targets": 5,
                    "data": "dateEnd",
                    "sClass": "text-left col-md-2"
                },
                {
                    "targets": 6,
                    "data": "conType",
                    "sClass": "col-md-2 text-center",
                    "render": function (data, key, full) {

                        $html = '<button class="btn btn-sm btn-default detail" title="คลิกเพื่อดูรายละเอียด" data-id="'+data+'"><i class="fa fa-list"></i></button>';

                        return $html;
                    }
                },
                {
                    "targets": 7,
                    "data": "conType",
                    "visible": false,
                    "sClass": "col-md-2 text-center"
                }
            ]
        });
        t.on('order.dt search.dt', function () {
            t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();


        search = '<option value="" selected="selected">ทั้งหมด</option>';
        $.each(certTypeName, function (key, value) {
            search += '<option value="' + key + '">' + value + '</option>';
        });
        $("#certTypeName").html(search).select().change(function () {

            t.columns(7).search(this.value).draw();
        });

        //override dialog's title function to allow for HTML titles
        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function (title) {
                var $title = this.options.title || '&nbsp;'
                if (("title_html" in this.options) && this.options.title_html == true)
                    title.html($title);
                else
                    title.text($title);
            }
        }));

        //dialog confirm
        $(".dialogDelete").on('click', function (e) {
            e.preventDefault();
            var tr = $(this).closest("tr");
            $("#dialog-confirm").removeClass('hide').dialog({
                resizable: false,
                width: '320',
                modal: true,
                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i> ยืนยันการลบข้อมูล</h4></div>",
                title_html: true,
                buttons: [
                    {
                        html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; Delete",
                        "class": "btn btn-danger btn-minier",
                        click: function () {

                            //var Rows=$(this).closest("tr").index();
                            tr.remove();
                            $(this).dialog("close");
                            //alert(tr);
                        }
                    }
                    ,
                    {
                        html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; Cancel",
                        "class": "btn btn-minier",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        });
        $('[data-rel=tooltip]').tooltip();
        $(".btn-update").unbind("click").click(function () {
            var type = $(this).attr("data-type");
            if (type == 1) {
                window.location.assign("{{_context_path}}/api/certificate/certmovie/edit");
            } else if (type == 2) {
                window.location.assign("{{_context_path}}/api/certificate/certgames/edit");
            } else if (type == 3) {
                window.location.assign("{{_context_path}}/api/certificate/certkaraoke/edit");
            } else if (type == 4) {
                window.location.assign("{{_context_path}}/api/certificate/certsellmovie/edit");
            } else if (type == 5) {
                window.location.assign("{{_context_path}}/api/certificate/certsellvideo/edit");
            }

        });
        $(".btn-role").unbind("click").click(function () {
            window.location.assign("{{_context_path}}/api/member/role/view/manage");
        });

        $(".detail").unbind("click").click(function() {
            var type = $(this).attr("data-id");
            if(type == "0"){
                window.open("{{_context_path}}/api/consider/cInformSize/view", '_blank');
            }else if(type == 1){
                window.open("{{_context_path}}/api/consider/cInformTools/view", '_blank');
            }else if(type == 2){
                window.open("{{_context_path}}/api/consider/cInformRenew/view", '_blank');
            }else if(type == 3){
                window.open("{{_context_path}}/api/consider/cInformCancel/view", '_blank');
            }else if(type == 4){
                window.open("{{_context_path}}/api/consider/cInformPermis/view", '_blank');
            }


        });

    })

</script>
