{{>header}}

<div class="main-content">
    <div class="main-content-inner">        
        <div class="page-content">



            <div class="page-header">
                <h1>
                    คำขอใบอนุญาต

                </h1>



            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div id="accordion" class="accordion-style1 panel-group">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        &nbsp;แจ้งเพิ่มจำนวนเครื่องมือ อุปกรณ์ หรือสิ่งอำนวยความสะดวก
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapseOne">
                                <div class="panel-body">

                                    <table id="table" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-md-1">ลำดับ</th>
                                                <th class="col-md-8">ชื่อเรื่อง</th>
                                                <th class="col-md-2">ชื่อ-นามสกุล</th>
                                                <th class="col-md-2">ประเภท</th>
                                                <th class="col-md-2">วันที่ขอ</th>
                                                <th class="col-md-1">จัดการ</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        &nbsp;แจ้งเพิ่มขนาดพื้นที่ใช้สอยของสถานประกอบกิจการ
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapseTwo">
                                <div class="panel-body">
                                    <table id="table" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-md-1">ลำดับ</th>
                                                <th class="col-md-8">ชื่อเรื่อง</th>
                                                <th class="col-md-2">ชื่อ-นามสกุล</th>
                                                <th class="col-md-2">ประเภท</th>
                                                <th class="col-md-2">วันที่ขอ</th>
                                                <th class="col-md-1">จัดการ</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsethree">
                                        <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        &nbsp;คำขอใบแทนใบอนุญาต
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapsethree">
                                <div class="panel-body">
                                    <table id="table" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-md-1">ลำดับ</th>
                                                <th class="col-md-8">ชื่อเรื่อง</th>
                                                <th class="col-md-2">ชื่อ-นามสกุล</th>
                                                <th class="col-md-2">ประเภท</th>
                                                <th class="col-md-2">วันที่ขอ</th>
                                                <th class="col-md-1">จัดการ</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefor">
                                        <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        &nbsp;คำขอยกเลิกใบอนุญาตประกอบกิจการ
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapsefor">
                                <div class="panel-body">
                                    <table id="table" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-md-1">ลำดับ</th>
                                                <th class="col-md-8">ชื่อเรื่อง</th>
                                                <th class="col-md-2">ชื่อ-นามสกุล</th>
                                                <th class="col-md-2">ประเภท</th>
                                                <th class="col-md-2">วันที่ขอ</th>
                                                <th class="col-md-1">จัดการ</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>



                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->

<!-- dialog-confirm -->
<div id="dialog-confirm" class="hide">
    <!--
    <div class="alert alert-info bigger-110">
        ต้องการลบข้อมูลใช่หรือไม่
    </div>
    -->
    <div class="space-6"></div> 

    <p class="bigger-110 bolder center grey">
        <i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
        ยืนยันการยกเลิกใบอนุญาประกอบกิจการ
    </p>
</div><!-- #dialog-confirm -->

<!-- dialog-confirm -->
<div id="dialog-confirm1" class="hide">
    <!--
    <div class="alert alert-info bigger-110">
        ต้องการลบข้อมูลใช่หรือไม่
    </div>
    -->
    <div class="space-6"></div> 

    <p class="bigger-110 bolder center grey">
        <i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
        ยืนยันการลบข้อมูล
    </p>
</div><!-- #dialog-confirm -->
{{>footer}}



<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($) {


        var dataSet = [
            {certId: "1", name: "เกมสนุก", type: "ร้านวีดิทัศน์(การเล่นเกม)", user: "นายยุทธชัย  สมมุติ", date: "12 JANUARY 2016"},
            {certId: "2", name: "เกมสนุก1", type: "ร้านวีดิทัศน์(การเล่นเกม)", user: "นายยุทธชัย  สมมุติ", date: "23 JANUARY 2016"},
        ]
        var dataSet1 = [
            {certId: "1", name: "บูมเมอแรงมูฟวี่", type: "ให้เช่า แลกเปลี่ยน หรือจำหน่ายภาพยนต์", user: "นายยุทธชัย  สมมุติ", date: "12 JANUARY 2016"},
            {certId: "2", name: "เกิดมาลุย5", type: "ให้เช่า แลกเปลี่ยน หรือจำหน่ายภาพยนต์", user: "นายยุทธชัย  สมมุติ", date: "23 JANUARY 2016"},
            {certId: "3", name: "คนไฟบิน", type: "ให้เช่า แลกเปลี่ยน หรือจำหน่ายภาพยนต์", user: "นายยุทธชัย  สมมุติ", date: "25 JANUARY 2016"}
        ]
        var dataSet2 = [
            {certId: "1", name: "บ้านตัวโน๊ต", type: "ร้านวีดิทัศน์(คาราโอเกะ)", user: "นายยุทธชัย  สมมุติ", date: "12 JANUARY 2016"},
            {certId: "2", name: "สุขหรรษา", type: "ร้านวีดิทัศน์(คาราโอเกะ)", user: "นายยุทธชัย  สมมุติ", date: "23 JANUARY 2016"},
            {certId: "3", name: "ร้องรำบุฟเฟ่", type: "ร้านวีดิทัศน์(คาราโอเกะ)", user: "นายยุทธชัย  สมมุติ", date: "25 JANUARY 2016"}
        ]

        $(".btn-add").unbind("click").click(function() {

            window.location.assign("{{_context_path}}/api/certificate/certsellvideo/add");
        });
        var t1 = $("#collapseOne #table").DataTable({
            "destroy": true,
            "data": dataSet,
            "order": [0, 'asc'],
            "iDisplayLength": 50,
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "certId",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 1,
                    "data": "name",
                    "sClass": "text-left col-md-4",
                    "render": function(data, key, full) {
                        return data;
                    }
                },
                {
                    "targets": 2,
                    "data": "user",
                    "sClass": "text-left col-md-2"
                }, {
                    "targets": 3,
                    "data": "type",
                    "sClass": "text-left col-md-2"
                }, {
                    "targets": 4,
                    "data": "date",
                    "sClass": "text-left col-md-2",
                    "render": function(data, key, full) {
                        return data;
                    }
                }, {
                    "targets": 5,
                    "data": "memberId",
                    "sClass": "text-left col-md-1",
                    "render": function(data, key, full) {
                        $html = '<a class="btn btn-sm btn-primary btn-white" href="{{_context_path}}/api/consider/cInform/view" role="button">จัดการ</a>';

                        return $html;
                    }
                }
            ]
        });
        t1.on('order.dt search.dt', function() {
            t1.column(0, {search: 'applied', order: 'applied'}).nodes().each(function(cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();



        var t2 = $("#collapseTwo #table").DataTable({
            "destroy": true,
            "data": dataSet1,
            "order": [0, 'asc'],
            "iDisplayLength": 50,
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "certId",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 1,
                    "data": "name",
                    "sClass": "text-left col-md-4",
                    "render": function(data, key, full) {
                        return data;
                    }
                },
                {
                    "targets": 2,
                    "data": "user",
                    "sClass": "text-left col-md-2"
                }, {
                    "targets": 3,
                    "data": "type",
                    "sClass": "text-left col-md-2"
                }, {
                    "targets": 4,
                    "data": "date",
                    "sClass": "text-left col-md-2",
                    "render": function(data, key, full) {
                        return data;
                    }
                }, {
                    "targets": 5,
                    "data": "memberId",
                    "sClass": "text-left col-md-1",
                    "render": function(data, key, full) {
                        $html = '<div class="btn-group"><button  class="btn btn-sm btn-primary btn-white">จัดการ</i></button>';

                        return $html;
                    }
                }
            ]
        });
        t2.on('order.dt search.dt', function() {
            t2.column(0, {search: 'applied', order: 'applied'}).nodes().each(function(cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();



        var t3 = $("#collapsethree #table").DataTable({
            "destroy": true,
            "data": dataSet2,
            "order": [0, 'asc'],
            "iDisplayLength": 50,
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "certId",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 1,
                    "data": "name",
                    "sClass": "text-left col-md-4",
                    "render": function(data, key, full) {
                        return data;
                    }
                },
                {
                    "targets": 2,
                    "data": "user",
                    "sClass": "text-left col-md-2"
                }, {
                    "targets": 3,
                    "data": "type",
                    "sClass": "text-left col-md-2"
                }, {
                    "targets": 4,
                    "data": "date",
                    "sClass": "text-left col-md-2",
                    "render": function(data, key, full) {
                        return data;
                    }
                }, {
                    "targets": 5,
                    "data": "memberId",
                    "sClass": "text-left col-md-1",
                    "render": function(data, key, full) {
                        $html = '<div class="btn-group"><button  class="btn btn-sm btn-primary btn-white">จัดการ</i></button>';

                        return $html;
                    }
                }
            ]
        });
        t3.on('order.dt search.dt', function() {
            t3.column(0, {search: 'applied', order: 'applied'}).nodes().each(function(cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();



        var t4 = $("#collapsefor #table").DataTable({
            "destroy": true,
            "data": dataSet2,
            "order": [0, 'asc'],
            "iDisplayLength": 50,
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "certId",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 1,
                    "data": "name",
                    "sClass": "text-left col-md-4",
                    "render": function(data, key, full) {
                        return data;
                    }
                },
                {
                    "targets": 2,
                    "data": "user",
                    "sClass": "text-left col-md-2"
                }, {
                    "targets": 3,
                    "data": "type",
                    "sClass": "text-left col-md-2"
                }, {
                    "targets": 4,
                    "data": "date",
                    "sClass": "text-left col-md-2",
                    "render": function(data, key, full) {
                        return data;
                    }
                }, {
                    "targets": 5,
                    "data": "memberId",
                    "sClass": "text-left col-md-1",
                    "render": function(data, key, full) {
                        $html = '<div class="btn-group"><button  class="btn btn-sm btn-primary btn-white">จัดการ</i></button>';

                        return $html;
                    }
                }
            ]
        });
        t4.on('order.dt search.dt', function() {
            t4.column(0, {search: 'applied', order: 'applied'}).nodes().each(function(cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();



        //$("#table thead").remove();
        //override dialog's title function to allow for HTML titles
        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function(title) {
                var $title = this.options.title || '&nbsp;'
                if (("title_html" in this.options) && this.options.title_html == true)
                    title.html($title);
                else
                    title.text($title);
            }
        }));
        //dialog confirm
        $(".dialogDelete").on('click', function(e) {
            e.preventDefault();
            var tr = $(this).closest("tr");
            $("#dialog-confirm").removeClass('hide').dialog({
                resizable: false,
                width: '320',
                modal: true,
                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i> ยกเลิกใบอนุญาประกอบกิจการ</h4></div>",
                title_html: true,
                buttons: [
                    {
                        html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; ยืนยัน",
                        "class": "btn btn-danger btn-minier",
                        click: function() {

                            //var Rows=$(this).closest("tr").index();
                            tr.remove();
                            $(this).dialog("close");
                            //alert(tr);
                        }
                    }
                    ,
                    {
                        html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; ยกเลิก",
                        "class": "btn btn-minier",
                        click: function() {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        });


        $(".dialogDelete1").on('click', function(e) {
            e.preventDefault();
            var tr = $(this).closest("tr");
            $("#dialog-confirm1").removeClass('hide').dialog({
                resizable: false,
                width: '320',
                modal: true,
                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i> ยืนยันการลบข้อมูล</h4></div>",
                title_html: true,
                buttons: [
                    {
                        html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; ยืนยัน",
                        "class": "btn btn-danger btn-minier",
                        click: function() {

                            //var Rows=$(this).closest("tr").index();
                            tr.remove();
                            $(this).dialog("close");
                            //alert(tr);
                        }
                    }
                    ,
                    {
                        html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; ยกเลิก",
                        "class": "btn btn-minier",
                        click: function() {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        });
        $('[data-rel=tooltip]').tooltip();
        $(".btn-update").unbind("click").click(function() {

            window.location.assign("{{_context_path}}/api/certificate/certsellvideo/edit");
        });
        $(".btn-role").unbind("click").click(function() {
            window.location.assign("{{_context_path}}/api/member/role/view/manage");
        });
    })
</script>
