{{>header}}
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <form class="form-horizontal CertiGames-form has-validation-callback" role="form" id="CertiGames-form">
                <div class="page-header">
                    <h1>
                        แจ้งเพิ่มจำนวนเครื่องมือ อุปกรณ์ หรือ สิ่งอำนวยความสะดวก
                        <div class="inline pull-right" style="padding-left: 10px">&nbsp;
                            <button class="btn btn-primary pull-right btn-sm">ดูข้อมูลใบอนุญาต</button>
                        </div>
                        <button class="btn btn-default pull-right btn-sm " id="cancelApprove" type="reset"><i
                                class="ace-icon fa fa-times bigger-110"></i> ไม่อนุญาต
                        </button>
                        <span>&nbsp;&nbsp;</span>
                        <button class="btn btn-success pull-right btn-sm" id="approve" type="submit"><i
                                class="ace-icon fa fa-floppy-o bigger-110"></i> อนุญาติ
                        </button>
                    </h1>
                </div>
                <!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#infomation">
                                    <i class="green ace-icon fa fa-home bigger-120"></i>
                                    ข้อมูลคำขอ
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#attachment">
                                    <i class="green fa fa-paperclip"></i>
                                    เอกสารแนบ
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="infomation" class="tab-pane fade in active">
                                <div class="form-group">
                                    <div class="col-sm-8 text-left">
                                        <div class="col-sm-12">
                                            <label class="control-label text-bold" id="nameCompany"><h4>ร้านเกมสนุก - นายสมชาย สมมุติ</h4></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <div class="col-sm-12"><label class="control-label"><b>ใบอนุญาต
                                            เลขที่</b></label></div>
                                        <div class="col-sm-12"><label class="control-label">49/1000</label></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-sm-12"><label
                                                class="control-label"><b>ออกเมื่อวันที่</b></label></div>
                                        <div class="col-sm-12"><label class="control-label">01/01/2555</label></div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-sm-12"><label class="control-label"><b>วันสิ้นอายุ</b></label>
                                        </div>
                                        <div class="col-sm-12"><label class="control-label">31/12/2560</label></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 text-left">
                                            <label class="control-label"><b>บ้านเลขที่</b></label>
                                        </div>
                                        <div class="col-sm-8 text-left">
                                            <label class="control-label">18/13 (ตลาดน้ำคลองลัดมะยม)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 text-left">
                                            <label class="control-label"><b>ตรอก/ซอย</b></label>
                                        </div>
                                        <div class="col-sm-8 text-left">
                                            <label class="control-label"> - </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 text-left">
                                            <label class="control-label"><b>ถนน</b></label>
                                        </div>
                                        <div class="col-sm-8 text-left">
                                            <label class="control-label">บางระมาด</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 text-left">
                                            <label class="control-label"><b>หมู่ที่</b></label>
                                        </div>
                                        <div class="col-sm-8 text-left">
                                            <label class="control-label">15</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 text-left">
                                            <label class="control-label"><b>ตำบล/แขวง</b></label>
                                        </div>
                                        <div class="col-sm-8 text-left">
                                            <label class="control-label">บางระมาด</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 text-left">
                                            <label class="control-label"><b>อำเภอ/เขต</b></label>
                                        </div>
                                        <div class="col-sm-8 text-left">
                                            <label class="control-label">ตลิ่งชัน</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 text-left">
                                            <label class="control-label"><b>จังหวัด</b></label>
                                        </div>
                                        <div class="col-sm-8 text-left">
                                            <label class="control-label">กรุงเทพ</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 text-left">
                                            <label class="control-label"><b>รหัสไปรษณีย์</b></label>
                                        </div>
                                        <div class="col-sm-8 text-left">
                                            <label class="control-label">10170</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 text-left">
                                            <label class="control-label"><b>โทรศัพท์</b></label>
                                        </div>
                                        <div class="col-sm-8 text-left">
                                            <label class="control-label">088-4551212</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 text-left">
                                            <label class="control-label"><b>โทรสาร</b></label>
                                        </div>
                                        <div class="col-sm-8 text-left">
                                            <label class="control-label"> - </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 text-left">
                                            <label class="control-label"><b>E–mail</b></label>
                                        </div>
                                        <div class="col-sm-8 text-left">
                                            <label class="control-label"> - </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr hr-16 hr-dotted"></div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label class="control-label">เดิมมีเครื่องมือ อุปกรณ์ หรือสิ่งอำนวยความสะดวก จำนวนไม่เกิน 20 ชุด</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="control-label">ขอเพิ่มเครื่องมือ อุปกรณ์ หรือสิ่งอำนวยความสะดวก จำนวนไม่เกิน</label>
                                        <input type="text" style="width: 60px;margin-left: 5px;margin-right: 5px;" value="50" disabled/>
                                        <label class="control-label">ชุด</label>
                                    </div>
                                </div>
                            </div>
                            <div id="attachment" class="tab-pane fade">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">สำเนาบัตรประจำตัวประชาชน</label>

                                    <div class="col-xs-3">
                                        <label class="ace-file-input"><input type="file"><span
                                                class="ace-file-container" data-title="Choose"><span
                                                class="ace-file-name" data-title="No File ..."><i
                                                class=" ace-icon fa fa-upload"></i></span></span><a class="remove"
                                                                                                    href="#"><i
                                                class=" ace-icon fa fa-times"></i></a></label>
                                    </div>

                                    <label class="col-sm-3 control-label no-padding-right">รูปถ่ายครึ่งตัว </label>

                                    <div class="col-xs-3">
                                        <label class="ace-file-input"><input type="file"><span
                                                class="ace-file-container" data-title="Choose"><span
                                                class="ace-file-name" data-title="No File ..."><i
                                                class=" ace-icon fa fa-upload"></i></span></span><a class="remove"
                                                                                                    href="#"><i
                                                class=" ace-icon fa fa-times"></i></a></label>
                                    </div>

                                </div>
                                <div class="hr hr-16 hr-dotted"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">สำเนาใบทะเบียนพาณิช</label>

                                    <div class="col-xs-3">
                                        <label class="ace-file-input"><input type="file"><span
                                                class="ace-file-container" data-title="Choose"><span
                                                class="ace-file-name" data-title="No File ..."><i
                                                class=" ace-icon fa fa-upload"></i></span></span><a class="remove"
                                                                                                    href="#"><i
                                                class=" ace-icon fa fa-times"></i></a></label>
                                    </div>

                                    <label class="col-sm-3 control-label no-padding-right">แผนที่โดยสังเขปที่ตั้งร้าน</label>

                                    <div class="col-xs-3">
                                        <label class="ace-file-input"><input type="file"><span
                                                class="ace-file-container" data-title="Choose"><span
                                                class="ace-file-name" data-title="No File ..."><i
                                                class=" ace-icon fa fa-upload"></i></span></span><a class="remove"
                                                                                                    href="#"><i
                                                class=" ace-icon fa fa-times"></i></a></label>
                                    </div>

                                </div>
                                <div class="hr hr-16 hr-dotted"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">แบบแปลนแผนผังแสดงพื้นที่การให้บริการ</label>

                                    <div class="col-xs-3">
                                        <label class="ace-file-input"><input type="file"><span
                                                class="ace-file-container" data-title="Choose"><span
                                                class="ace-file-name" data-title="No File ..."><i
                                                class=" ace-icon fa fa-upload"></i></span></span><a class="remove"
                                                                                                    href="#"><i
                                                class=" ace-icon fa fa-times"></i></a></label>
                                    </div>

                                    <label class="col-sm-3 control-label no-padding-right">รูปถ่ายของร้านวีดิทัศน์</label>

                                    <div class="col-xs-3">
                                        <label class="ace-file-input"><input type="file"><span
                                                class="ace-file-container" data-title="Choose"><span
                                                class="ace-file-name" data-title="No File ..."><i
                                                class=" ace-icon fa fa-upload"></i></span></span><a class="remove"
                                                                                                    href="#"><i
                                                class=" ace-icon fa fa-times"></i></a></label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="dialog-confirm" class="hide">
                                <div class="space-6"></div>
                                <p class="bigger-110 bolder center grey">
                                    <i class="ace-icon blue bigger-120"></i>
                                    ต้องการยืนยันการอนุญาต
                                </p>
                            </div>
                            <div id="dialog-input" class="hide">
                                <div class="space-6"></div>
                                <textarea class="form-control" rows="4" placeholder="เหตุผลการไม่อนุญาต"></textarea>
                            </div>
                            <div id="dialog-success" class="hide">
                                <div class="space-6"></div>
                                <p class="bigger-110 bolder center grey">
                                    พิจารณาขอเพิ่มจำนวนเครื่องมือ อุปกรณ์ หรือสิ่งอำนวยความสะดวกสำเร็จ
                                </p>
                            </div>
                            <!-- #dialog-confirm -->
                        </div>
                        <!-- ./span -->
                        <!-- PAGE CONTENT ENDS -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </form>
        </div>
    </div>
    <!-- /.main-content -->
    {{>footer}}
    <script type="text/javascript">

        //override dialog's title function to allow for HTML titles
        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function(title) {
                var $title = this.options.title || '&nbsp;'
                if( ("title_html" in this.options) && this.options.title_html == true )
                    title.html($title);
                else title.text($title);
            }
        }));

        $("#approve").on('click', function (e) {
            e.preventDefault();

            $("#dialog-confirm").removeClass('hide').dialog({
                resizable: false,
                width: '320',
                modal: true,
                title_html: true,
                title:"<div class='widget-header widget-header-small'><h4 class='smaller'> ต้องการยืนยัน</h4></div>",
                buttons: [
                    {
                        html: "<i class='ace-icon fa fa-check bigger-110'></i>&nbsp; ยืนยัน",
                        "class": "btn btn-success btn-minier",
                        click: function () {
                            //click
                            $(this).dialog("close");
                            $("#dialog-success").removeClass('hide').dialog({
                                resizable: false,
                                width: '320',
                                modal: true,
                                title_html: true,
                                title:"<div class='widget-header widget-header-small'><h4 class='smaller'> สำเร็จ</h4></div>",
                                buttons: [{
                                    html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; Close",
                                    "class": "btn btn-minier",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }]
                            });
                        }
                    }
                    ,
                    {
                        html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; Cancel",
                        "class": "btn btn-minier",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        });
        $("#cancelApprove").on('click', function (e) {
            e.preventDefault();

            $("#dialog-input").removeClass('hide').dialog({
                resizable: false,
                width: '320',
                modal: true,
                title_html: true,
                title:"<div class='widget-header widget-header-small'><h4 class='smaller'> ยืนยันการไม่อนุญาต</h4></div>",
                buttons: [
                    {
                        html: "<i class='ace-icon fa fa-check bigger-110'></i>&nbsp; ยืนยันการไม่อนุญาต",
                        "class": "btn btn-success btn-minier",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                    ,
                    {
                        html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; Cancel",
                        "class": "btn btn-minier",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        });

    </script>