{{>header}}

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>
                <li class="active">{{#i18n}}assign.title{{/i18n}}</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- /.nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    {{#i18n}}assign.title{{/i18n}}
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title lighter">
                                        <i class="fa fa-search"></i> ค้นหา
                                    </h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form class="form-horizontal" onsubmit="return false;">
                                            <div class="form-group">
                                                <div class="col-sm-6">
                                                    <label class="col-sm-3 control-label text-right">{{#i18n}}type{{/i18n}} :</label>
                                                    <div class="col-sm-6 text-left">
                                                        <select id="searchType" class="chosen-select form-control"></select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <label class="col-sm-3 control-label text-right">{{#i18n}}status{{/i18n}} :</label>
                                                    <div class="col-sm-8 text-left">
                                                        <select id="searchStatus" class="chosen-select form-control"></select>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="widget-box transparent">
                                <div class="widget-header widget-header-flat">
                                </div>
                                <div class="widget-body">
                                    <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                                        <thead>
                                            <tr>
                                                <th class="text-center col-md-1">{{#i18n}}no.{{/i18n}}</th>
                                                <th class="text-center col-md-3">{{#i18n}}listName{{/i18n}}</th>
                                                <th class="text-center col-md-1">{{#i18n}}type{{/i18n}}</th>
                                                <th class="text-center col-md-2">{{#i18n}}status{{/i18n}}</th>
                                                <th class="text-center col-md-1">{{#i18n}}detail{{/i18n}}</th>
                                                <th class="text-center col-md-2">{{#i18n}}team1{{/i18n}}</th>
                                                <th class="text-center col-md-2">{{#i18n}}team2{{/i18n}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="6" class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->

                    <div class="hr hr32 hr-dotted"></div>

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->

{{>footer}}

<script type="text/javascript">
    var listsArr = {};
    $(function () {
        listsData();
    });

    function listsData(){
        var data = selectMDB({"status.code": "assign1"});

        var dataSet = [];
        var searchType = {};
        var searchStatus = {};

        $.each(data, function(key, value){
            dataSet.push(value);

            listsArr[value["_id"]["$oid"]] = value;
            searchType[value["certTypeId"]] = value["certTypeName"];
            //searchStatus[value["status"]] = value["certTypeName"];
        });
        t = $("#table").DataTable({
            "destroy": true,
            "data": dataSet,
            "order": [0, 'asc'],
            "iDisplayLength": 50,
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "certCode",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 1,
                    "data": "certNameTH",
                    "sClass": "text-left col-md-3",
                    "render": function (data, key, full) {
                        return full["certNameTH"] + ' / ' + full["certNameEN"];
                    }
                },
                {
                    "targets": 2,
                    "data": "certTypeName",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 3,
                    "data": "status",
                    "sClass": "text-center col-md-2",
                    "render": function (data) {
                        var content = '';
                        $.each(data, function(key, value){
                            if(value["code"] == "request"){
                                content = statusConvert("certificate", value)["status"];
                            }
                        });
                        return content;
                    }
                },
                {
                    "targets": 4,
                    "data": "_id",
                    "sClass": "text-center col-md-1",
                    "render": function (data, key, full) {

                        return '<button class="btn btn-sm btn-default detail" title="คลิกเพื่อดูรายละเอียด" data-_id="' + full["_id"]["$oid"] + '"><i class="fa fa-list"></i></button>';
                        // + '<button class="btn btn-sm btn-default delete" title="ลบ" data-bgh="'+data+'"><i class="fa fa-trash"></i> ลบ</button>'

                    }
                },
                {
                    "targets": 5,
                    "data": "status",
                    "sClass": "text-center col-md-2",
                    "render": function (data, key, full) {
                        var content = '';
                        $.each(data, function(key, value){
                            if(value["code"] == "assign1"){
                                if(value["result"] !== "YES"){
                                    content = '<select id="team1-'+full["_id"]["$oid"]+'" name="team1-'+full["_id"]["$oid"]+'">'
                                            + '<option>A</option>'
                                            + '<option>B</option>'
                                            + '<option>C</option>'
                                        + '</select>&nbsp;'
                                        + '<button class="btn btn-sm btn-success selectTeam" title="บันทึก" data-team="1" data-_id="' + full["_id"]["$oid"] + '"><i class="fa fa-check"></i></button>';
                                }
                                else{
                                    content = 'A';
                                }
                            }
                        });
                        return content;
                    }
                },
                {
                    "targets": 6,
                    "data": "status",
                    "sClass": "text-center col-md-2",
                    "render": function (data, key, full) {
                        var content = '';
                        $.each(data, function(key, value){
                            if(value["code"] == "assign2"){
                                if(value["result"] == "YES"){
                                    content = '<select id="team2-'+full["_id"]["$oid"]+'" name="team2-'+full["_id"]["$oid"]+'">'
                                            + '<option>A</option>'
                                            + '<option>B</option>'
                                            + '<option>C</option>'
                                        + '</select>&nbsp;'
                                        + '<button class="btn btn-sm btn-success selectTeam" title="บันทึก" data-team="2" data-_id="' + full["_id"]["$oid"] + '"><i class="fa fa-check"></i></button>';
                                }
                                else{
                                    content = 'A';
                                }
                            }
                        });
                        return content;
                    }
                }
            ]
        });
        t.on('order.dt search.dt', function () {
            t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        //search selectbox type
        var search = '<option value="" selected="selected">{{#i18n}}all{{/i18n}}</option>';
        $.each(searchType, function (key, value) {
            search += '<option value="' + value + '">' + value + '</option>';
        });
        $("#searchType").html(search);

        $("#searchType").change(function () {
            t.columns(2).search($(this).val()).draw();
        });

        $("button.selectTeam").unbind().click(function(){
            var teamNo = $(this).attr("data-team");
            var id = $(this).attr("data-_id");
        });
    }

    function updateData(){

    }
</script>
