<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Ace</span>
							Application &copy; 2013-2014
						</span>

            &nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
                                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                            </a>

							<a href="#">
                                <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                            </a>

							<a href="#">
                                <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                            </a>
						</span>
        </div>
    </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->


</body>
</html>
<!-- basic scripts -->

<!--[if !IE]> -->
<script src="{{_context_path}}/asset/js/jquery.2.1.1.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="{{_context_path}}/asset/js/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='{{_context_path}}/asset/js/jquery.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='{{_context_path}}/asset/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='{{_context_path}}/asset/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="{{_context_path}}/asset/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="{{_context_path}}/asset/js/excanvas.min.js"></script>
<![endif]-->
<script src="{{_context_path}}/asset/js/jquery-ui.custom.min.js"></script>
<script src="{{_context_path}}/asset/js/jquery.ui.touch-punch.min.js"></script>
<script src="{{_context_path}}/asset/js/chosen.jquery.min.js"></script>
<script src="{{_context_path}}/asset/js/fuelux.spinner.min.js"></script>
<script src="{{_context_path}}/asset/js/bootstrap-datepicker.min.js"></script>
<script src="{{_context_path}}/asset/js/bootstrap-timepicker.min.js"></script>
<script src="{{_context_path}}/asset/js/moment.min.js"></script>
<script src="{{_context_path}}/asset/js/daterangepicker.min.js"></script>
<script src="{{_context_path}}/asset/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{_context_path}}/asset/js/bootstrap-colorpicker.min.js"></script>
<script src="{{_context_path}}/asset/js/jquery.knob.min.js"></script>
<script src="{{_context_path}}/asset/js/jquery.autosize.min.js"></script>
<script src="{{_context_path}}/asset/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="{{_context_path}}/asset/js/jquery.maskedinput.min.js"></script>
<script src="{{_context_path}}/asset/js/bootstrap-tag.min.js"></script>

<script src="{{_context_path}}/asset/js/jquery.dataTables.min.js"></script>
<script src="{{_context_path}}/asset/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="{{_context_path}}/asset/js/dataTables.tableTools.min.js"></script>
<script src="{{_context_path}}/asset/js/dataTables.colVis.min.js"></script>

<!-- ace scripts -->
<script src="{{_context_path}}/asset/js/ace-elements.min.js"></script>
<script src="{{_context_path}}/asset/js/ace.min.js"></script>

<!-- js common function -->
<script src="{{_context_path}}/asset/vendor/common.js"></script>

<script src="{{_context_path}}/asset/vendor/select2/select2.js"></script>
<script src="{{_context_path}}/asset/js/jquery.form-validator.min.js"></script>

