<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
            <i class="ace-icon fa fa-signal"></i>
        </button>

        <button class="btn btn-info">
            <i class="ace-icon fa fa-pencil"></i>
        </button>

        <button class="btn btn-warning">
            <i class="ace-icon fa fa-users"></i>
        </button>

        <button class="btn btn-danger">
            <i class="ace-icon fa fa-cogs"></i>
        </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!-- /.sidebar-shortcuts -->

<ul class="nav nav-list">
    <li class="active">
        <a href="{{_context_path}}/api/dashboard/dashboard/view/index">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-user"></i>
            <span class="menu-text">
                จัดการผู้ใช้งาน
            </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="{{_context_path}}/api/member/member/view/manage">
                    <i class="menu-icon fa fa-caret-right"></i>
                    จัดการผู้ใช้งานภายในหน่วยงาน
                </a>
            </li>
        </ul>
        <ul class="submenu">
            <li class="">
                <a href="{{_context_path}}/api/member1/member/view/manage">
                    <i class="menu-icon fa fa-caret-right"></i>
                    จัดการผู้ใช้งานทั่วไป
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-check-square-o"></i>
            <span class="menu-text">
                จัดการการอนุญาตเผยแพร่
            </span>
        </a>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                ตรวจสอบ ควบคุมดูแล  และดําเนินคดี
            </span>
            
        </a>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text">
                แบบฟอร์มอิเล็กทรอนิกส์
            </span>
        </a>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                จัดการใบอนุญาตประกอบกิจการ
            </span>
        </a>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                พิจารณาการอนุญาต E-Authorization
            </span>
        </a>
    </li>
    <li class="">
        <a href="{{_context_path}}/api/report/report/view" class="dropdown-toggle">
            <i class="menu-icon fa fa-file-o"></i>
            <span class="menu-text">
                รายงานข้อมูล
            </span>
        </a>
    </li>
    <li class="">
        <a href="{{_context_path}}/api/fees/main/view/index" class="dropdown-toggle">
            <i class="menu-icon fa fa-credit-card"></i>
            <span class="menu-text">
                ชําระค่าธรรมเนียม
            </span>
        </a>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-bell-o"></i>
            <span class="menu-text">
                เตือนผู้ใช้งาน
            </span>
        </a>
    </li>
    <li class="">
         <a href="{{_context_path}}/api/search/main/view/index" class="dropdown-toggle">
            <i class="menu-icon fa fa-search"></i>
            <span class="menu-text">
                จัดเก็บ สืบค้น และพิจารณาสื่อ
            </span>
        </a>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-tasks"></i>
            <span class="menu-text">
                ติดตามสถานะงาน
            </span>
        </a>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-unlock-alt"></i>
            <span class="menu-text">
                Login
            </span>
        </a>
        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="{{_context_path}}/api/login1/login/view" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Login สำหรับผู้ใช้ภายใน
                </a>
            </li>
        </ul>
        <ul class="submenu">
            <li class="">
                <a href="{{_context_path}}/api/login2/login/view" target="_blank">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Login สำหรับผู้ใช้ทั่วไป
                </a>
            </li>
        </ul>
    </li>
</ul><!-- /.nav-list -->