{{>header}}

<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">หน้าหลัก</a></li>
                        <li class="active">ผู้ใช้งาน</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}user.title{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li class="active">
                    <button id="addToTable" class="btn btn-primary add"><i class="fa fa-plus"></i>&nbsp;เพิ่มข้อมูล</button>
                    <button id="showTable" class="btn btn-primary table" style="display: none;">รายชื่อเจ้าหน้าที่</button>
                </li>
            </ul>
        </div>
    </div><!-- end button action on header -->

    <div class="container">
        <div class="row">
            <div id="userTable"><!-- table shown user information list -->
                <div class="col-md-12">
                    <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                        <thead>
                            <tr>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}user.no{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}user.name{{/i18n}} - {{#i18n}}user.surname{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}user.permission{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}user.department{{/i18n}}</th>
                                
								 <th class="text-center" style="vertical-align: middle;">Active</th>
								 <th class="text-center" style="vertical-align: middle;">{{#i18n}}user.detail{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}user.action{{/i18n}}</th>
                            </tr>
                        </thead>
                        <tbody id="userBody">
                            <tr>
                                <td colspan="7" class="text-center">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- end table shown user information list -->

            <div id="userForm" class="col-md-12" style="display: none;"><!-- user form -->
                <form id="form" class="form-horizontal form-bordered form-validation" onsubmit="return(false)">
                    <div id="form-part1" class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-up"></a>
                                </div>
                                <h2 class="panel-title">ข้อมูลส่วนตัวเจ้าหน้าที่</h2>
                            </header>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label req" for="name">ชื่อ</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                            <input type="text" data-entity="user" class="form-control input-sm" name="name" id="name" required>
                                        </div>
                                    </div>
                                    <div id="searching"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label req" for="surname">นามสกุล</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                            <input type="text" data-entity="user" class="form-control input-sm" name="surname" id="surname" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label req" for="roleCode">สิทธิการใช้งาน</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                            <select data-entity="user" class="form-control input-sm" name="roleCode" id="roleCode" required></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label req" for="departmentId">หน่วยงาน</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-building"></i>
                                            </span>
                                            <select data-entity="user" class="form-control input-sm" name="departmentId" id="departmentId" required></select>
                                        </div>
                                    </div>
                                </div>
								
								 <div class="form-group">
                                    <label class="col-md-3 control-label req" for="departmentId">Active</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-building"></i>
                                            </span>
                                            <select data-entity="user" class="form-control input-sm" name="isActive" id="isActive" required>
												<option value="Y">Y</option>
												<option value="N">N</option>
											</select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="email">อีเมล์</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <input type="text" data-entity="user" class="form-control input-sm" name="email" id="email">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="telephone">เบอร์โทร</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                            <input type="text" data-entity="user" class="form-control input-sm" name="telephone" id="telephone">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="address">ที่อยู่</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-map-marker"></i>
                                            </span>
                                            <textarea data-entity="user" class="form-control input-sm" name="address" id="address"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div><!-- col-xs-12 -->

                    <div id="form-part2" class="col-xs-12">
                        <section class="panel">

                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-up"></a>
                                </div>
                                <h2 class="panel-title">ข้อมูลเข้าระบบ</h2>
                            </header>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label req" for="username">ชื่อผู้ใช้งาน</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                            <input type="text" data-entity="user" class="form-control input-sm" name="username" id="username" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label req" for="password">รหัสผ่าน</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-key"></i>
                                            </span>
                                            <input type="password" data-entity="user" class="form-control input-sm" name="password" id="password" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label req" for="passwordCheck">ยืนยันรหัสผ่าน</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-key"></i>
                                            </span>
                                            <input type="password" class="form-control input-sm" name="passwordCheck" id="passwordCheck" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div><!-- col-xs-12 -->

                    <div id="loading" class="col-xs-12" style="text-align: center;"></div>
                    <ul class="nav nav-pills sort-source secundary pull-right" data-sort-id="portfolio" data-option-key="filter">
                        <li data-option-value="*" class="">
                            <button id="submit" class="btn btn-primary submit">บันทึก</button>
                        </li>
                        <li data-option-value=".websites" class="padding-left">
                            <button type="button" class="btn btn-default cancel">ยกเลิก</button>
                        </li>
                    </ul>

                </form>
            </div><!-- end bidder info form -->

            <div id="viewModal" aria-labelledby="bidderLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><!-- view user info -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">แสดงข้อมูล : เจ้าหน้าที่</h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <tbody>
                                    <tr>
                                        <td>ชื่อ - นามสกุล</td><td class="text-left text-bold"><div id="nameView"></div></td>
                                    </tr>
                                    <tr>
                                        <td>ชื่อผู้ใช้งาน</td><td class="text-left text-bold text-tertiary"><div id="usernameView"></div></td>
                                    </tr>
                                    <tr>
                                        <td>สิทธิการใช้งาน</td><td class="text-left"><div id="roleView"></div></td>
                                    </tr>
                                    <tr>
                                        <td>หน่วยงาน</td><td class="text-left"><div id="departmentView"></div></td>
                                    </tr>
									 <tr>
                                        <td>Active</td><td class="text-left"><div id="isActiveView"></div></td>
                                    </tr>
                                    <tr>
                                        <td>อีเมล์</td><td class="text-left"><div id="emailView"></div></td>
                                    </tr>
                                    <tr>
                                        <td>เบอร์โทร</td><td class="text-left"><div id="telephoneView"></div></td>
                                    </tr>
                                    <tr>
                                        <td>ที่อยู่</td><td class="text-left"><div id="addressView"></div></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">ปิด</button>
                        </div>
                    </div>
                </div>
            </div><!-- end view user info -->
            
            <div id="deleteModal" aria-labelledby="bidderLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><!-- delete bidder info form -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">ลบข้อมูล : เจ้าหน้าที่</h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <tbody>
                                    <tr>
                                        <td>ชื่อ - นามสกุล</td><td class="text-left text-bold"><div id="nameDel"></div></td>
                                    </tr>
                                    <tr>
                                        <td>ชื่อผู้ใช้งาน</td><td class="text-left text-bold text-tertiary"><div id="usernameDel"></div></td>
                                    </tr>
                                    <tr>
                                        <td>สิทธิการใช้งาน</td><td class="text-left"><div id="roleDel"></div></td>
                                    </tr>
									<tr>
                                        <td>Active</td><td class="text-left"><div id="isActiveDel"></div></td>
                                    </tr>
                                    <tr>
                                        <td>หน่วยงาน</td><td class="text-left"><div id="departmentDel"></div></td>
                                    </tr>
									<tr>
                                        <td>Status</td><td class="text-left"><div id="IsActiveDel"></div></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                            <button type="button" id="confirmDelete" class="btn btn-primary" data-dismiss="modal">ยืนยันการลบ</button>
                        </div>
                    </div>
                </div>
            </div><!-- end delete bidder info form -->

        </div><!--  row  -->
    </div><!--  container  -->
</div><!-- main -->
{{>footer}}

<script type="text/javascript">
    var listArr = [];

    $(function(){
        // show bidder info list
        showAllUser();
        
        listsRole();
        listsDepartment();

        $("button.table").click(function(){
            toggleShow("list");
        });

        // when you click to add bidder info
        $("button.add").click(function(){
            toggleShow("form-insert");

            // when you save form
            $("button.submit").unbind().click(function(){
                var isValid = true;
                $('#form input[required], #form select[required]').each(function() {
                    if($(this).val() == "" && !$(this).prop("disabled"))
                        isValid = false;
                });
                if(isValid){
                    var fdata = dataObject(null);
                    var dataJSON = JSON.stringify({user: fdata["User"]});
                    var dataJSONEN = encodeURIComponent(dataJSON);

                    insertUser(dataJSONEN);
                }
            });
        });

        // when you click to cancel
        $("button.cancel").click(function(){
            toggleShow("list");
        });

    });

    function showAllUser(){
        listArr = [];
        
        var dataSet = [];    
        setTimeout(function(){
            var datas = callAjax("{{_context_path}}/api/user/userManager/listsUser", "post", {}, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                $.each(datas["lists"], function(key, value){
                    listArr[value["id"]] = value;
                    dataSet.push(value);                
                }); 
            }        

            var t = $("#table").DataTable( {
                "destroy": true,
                "data": dataSet,
                "order": [[ 1, 'asc' ]],
                "iDisplayLength": 50,
                "columnDefs": [ 
                    { 
                        "targets": 0,
                        "searchable": false,
                        "orderable": false,
                        "data": "id",
                        "sClass": "text-center"
                    },
                    { 
                        "targets": 1,
                        "data": "id",
                        "sClass": "text-center",
                        "render": function (data, key, full){
                            var content = full["name"]+' '+full["surname"];

                            return content;
                        }     
                    },
                    {
                        "targets": 2,
                        "data": "role",
                        "sClass": "text-center"
                    },
                    {

                        "targets": 3,
                        "data": "department",
                        "sClass": "text-center"
                    },
					
					{

                        "targets": 4,
                        "data": "isActive",
                        "sClass": "text-center"
                    },
                    {
                        "targets": 5,
                        "orderable": false,
                        "data": "id",
                        "sClass": "text-center",
                        "render": function (data){
                            var content = '<button class="btn btn-primary view" data-uid="'+data+'" title="รายละเอียด"><i class="fa fa-list"></i></button>';

                            return content;
                        }     
                    },
                    {
                        "targets": 6,
                        "orderable": false,
                        "data": "id",
                        "sClass": "text-center",
                        "render": function (data){
                            var content = '<button class="btn btn-primary edit" data-uid="'+data+'" title="แก้ไข"><i class="fa fa-pencil"></i></button>&nbsp;'
                                + '<button class="btn btn-default delete" data-uid="'+data+'"  title="ลบ"><i class="fa fa-trash"></i></button>';

                            return content;
                        }     
                    }
                ]
            });

            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();

            // when you click to delete bidder info
            $("#table").on("click", "button.view", function(){
                $("#viewModal").modal("show");
                
                var userId = $(this).attr("data-uid");
                var value = listArr[userId];

                $("#nameView").html(value["name"]+" "+value["surname"]);
                $("#usernameView").html(value["username"]);
                $("#roleView").html(value["role"]);
                $("#departmentView").html(value["department"]);
                $("#emailView").html(value["email"]);
                $("#telephoneView").html(value["telephone"]);
                $("#addressView").html(value["address"]);
				 $("#isActiveView").html(value["isActive"]);

				});
            
            $("#table").on("click", "button.edit", function(){
                toggleShow("form-edit");

                var userId = $(this).attr("data-uid");
                var value = listArr[userId];

                $("#name").val(value["name"]);
                $("#surname").val(value["surname"]);
                $("#roleCode option:contains('" + value["role"]+ "')").prop("selected", true);
                $("#departmentId option:contains('" + value["department"]+ "')").prop("selected", true);
                $("#email").val(value["email"]);
                $("#telephone").val(value["telephone"]);
                $("#address").val(value["address"]);
				 $("#isActive").val(value["isActive"]);
                
                // when you save the user info was modified
                $("button.submit").unbind().click(function(){
                    var isValid = true;
                    $('#form-part1 input[required], #form-part1 select[required]').each(function() {
                        if($(this).val() == "" && !$(this).prop("disabled"))
                            isValid = false;
                    });
                    if(isValid){
                        var fdata = dataObject(userId);
                        var dataJSON = JSON.stringify({user: fdata["User"]});
                        var dataJSONEN = encodeURIComponent(dataJSON);

                        editUser(dataJSONEN);
                    }
                });

            });

            // when you click to delete bidder info
            $("#table").on("click", "button.delete", function(){
                $("#deleteModal").modal("show");
                
                var userId = $(this).attr("data-uid");
                var value = listArr[userId];

                $("#nameDel").html(value["name"]+" "+value["surname"]);
                $("#usernameDel").html(value["username"]);
                $("#roleDel").html(value["role"]);
                $("#departmentDel").html(value["department"]);
				$("#isActiveDel").html(value["isActive"]);
                
                $("#confirmDelete").unbind().click(function(){
                    var dataUser = {};
                    dataUser["id"] = userId;

                    var fdata = {};
                    fdata["User"] = dataUser;

                    var dataJSON = JSON.stringify({user: fdata["User"]});
                    var dataJSONEN = encodeURIComponent(dataJSON);

                    deleteUser(dataJSONEN);
                });
            });
        }, 100);
    }

    function insertUser(dataJSONEN){
        if($("#password").val() != $("#passwordCheck").val()){
            $("#loading").html('<span class="text-danger">รหัสผ่านไม่ตรงกัน</span>');
        }        
        else{
            $("#loading").html("กำลังบันทึกข้อมูล...");

            setTimeout(function(){
                var datas = callAjax("{{_context_path}}/api/user/userManager/insert", "post", dataJSONEN, "json");
                if (typeof datas !== "undefined" && datas !== null) {
                    if(datas["add"] == true){
                        $("#loading").html('<span class="text-success">บันทึกข้อมูลเรียบร้อย</span>');
                        setTimeout(function(){
                            toggleShow("list");
                        }, 500);
                    }
                    else{
                        $("#loading").html('<span class="text-danger">ไม่สามารถบันทึกข้อมูลได้<br>'+datas["add"]+'</span>');
                    }
                }
            }, 100);
        }
    }

    function editUser(dataJSONEN){
        $("#loading").html("กำลังบันทึกข้อมูล...");

        setTimeout(function(){
            var datas = callAjax("{{_context_path}}/api/user/userManager/update", "post", dataJSONEN, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                if(datas["update"] == true){
                    $("#loading").html('<span class="text-success">บันทึกข้อมูลเรียบร้อย</span>');
                    setTimeout(function(){
                        toggleShow("list");
                    }, 500);
                }
                else{
                    $("#loading").html('<span class="text-danger">ไม่สามารถบันทึกข้อมูลได้</span>');
                }
            }
        }, 100);
    }

    function deleteUser(dataJSONEN) {
        var datas = callAjax("{{_context_path}}/api/user/userManager/delete", "post", dataJSONEN, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            if (datas["delete"] == true) {
                toggleShow("list");
            }
        }
    }

    function listsRole(){
        var html = '<option value="">เลือกสิทธิผู้ใช้งาน</option>';
        var datas = callAjax("{{_context_path}}/api/user/userManager/listsRole", "post", {}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["lists"], function(key, value){
                html += '<option value="'+value["code"]+'">'+value["role"]+'</option>'
            });
        }
        
        $("#roleCode").html(html);
    }
    
    function listsDepartment(){
        var html = '<option value="">เลือกหน่วยงาน</option>';
        var datas = callAjax("{{_context_path}}/api/user/userManager/listsDepartment", "post", {}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["lists"], function(key, value){
                html += '<option value="'+value["id"]+'">'+value["department"]+'</option>'
            });
        }
        
        $("#departmentId").html(html);
    }
    
    function dataObject(uid){
        var dataUser = {};

        //edit
        if(uid !== null){
            dataUser["id"] = uid;
            $("#form-part1 input, #form-part1 select, #form-part1 textarea").each(function (i) {
                var fattr = $(this).attr("data-entity");
                var fname = $(this).attr("name");
                var fvalue = $(this).val();
                dataUser[fname] = fvalue;
            });
        }
        //insert
        else{
            $("#form input, #form select, #form textarea").each(function (i) {
                var fattr = $(this).attr("data-entity");
                var fname = $(this).attr("name");
                var fvalue = $(this).val();
                dataUser[fname] = fvalue;
            });
        }
        var fdata = {};
        fdata["User"] = dataUser;

        return fdata;
    }

    function toggleShow(option){
        if(option == "form-insert"){
            $("#userForm, #showTable").show();
            $("#userTable, #addToTable").hide();

            $("#form-part1").show();
            $("#form-part2").show();
            
            $("#form input, #form select, #form textarea").each(function(){
                $(this).val("");
            });
            
            $("#loading, #searching").empty();
        }
        
        if(option == "form-edit"){
            $("#userForm, #showTable").show();
            $("#userTable, #addToTable").hide();

            $("#form-part1").show();
            $("#form-part2").hide();
            
            $("#form input, #form select, #form textarea").each(function(){
                $(this).val("");
            });
            
            $("#loading, #searching").empty();
        }
        
        else if(option == "list"){
            $("#userTable, #addToTable").show();
            $("#userForm, #showTable").hide();
            showAllUser();
        }
    }
</script>

